/* Base HTML/Body Reset & Defaults */

html {
    background-color: var(--background);
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", serif;
    font-size: 16px;
    color: var(--text-primary);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
